a:link, a:visited {
    background-color: crimson;
    color: lavenderblush;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: crimson;
    color: black;
    font-style: normal;
}